@media only screen and (max-width: 700px) {
    .optest:hover {
        opacity: 0;
    }


* {
    cursor: none;
}

.fade {
    transition: opacity 1s;
}

.optest {
    opacity: 0;
}

.optest:hover {
    opacity: 1;
}