@media only screen and (max-width: 700px) {
  .cursor {
    display: none
  }
}

.cursor{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 100%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255,255,255,.1);
    position: fixed;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s, border-color .3s;
  }

  .click {
    background-color: rgba(255,255,255,.5);
  }

  .hover_c {
    width: 50px
  }

  .ina{
    animation: animation_in .5s ease-out forwards
  }

  .outa{
    animation: animation_out .3s ease reverse forwards
  }

  @keyframes animation_in {
    0% {
      width: 15px;
      background-color: rgba(255,255,255,.1);
      opacity: 1;
    }
    40% {
      width: 300px;
      background-color: rgba(255,255,255,.1);
      opacity: 0;
    }
    41% {
      width: 5px;
    }
    100% {
      width: 5px;
      background-color: #F05802;
      opacity: 1;
    }
  }

  @keyframes animation_out {
    0% {
      width: 15px;
      background-color: rgba(255,255,255,.1);
      opacity: 1;
    }
    100% {
      width: 5px;
      background-color: #ff5520;
      opacity: 1;
    }
  }
